---
import FavIcon from "../assets/svg/favIcon.svg";
---

<header class="static top-0 w-full z-50 bg-headerfooter-bg">
    <nav class="flex items-center px-6 py-4 text-sm justify-between text-headerfooter-text-secondary">
        <div class="flex flex-row justify-start">
            <a href="/" class="inline-block hover:text-headerfooter-text" aria-label="Home">
                <FavIcon />
            </a>
        </div>
        <div class="flex flex-row gap-4 justify-end transition">
            <a href="/my-work" class="inline-block transition 200ms hover:text-headerfooter-text">My Work</a>
            <a href="/about-me" class="inline-block transition 200ms hover:text-headerfooter-text">About Me</a>
            <a href="/contact" class="inline-block transition 200ms hover:text-headerfooter-text">Contact</a>
        </div>
    </nav>
</header>
