---
import FavIcon from "../assets/svg/favIcon.svg";
---

<header class="static top-0 w-full z-50 bg-headerfooter-bg">
    <nav class="flex items-center px-6 py-4 text-sm justify-between text-headerfooter-text-secondary">
        <div class="flex flex-row justify-start">
            <a href="/" class="inline-block hover:text-headerfooter-text" aria-label="Home">
                <FavIcon />
            </a>
        </div>

        <div class="justify-end transition md:hidden">
            <button id="menu-btn" class="hover:text-headerfooter-text">
                Menu
            </button>
        </div>

        <div id="nav-menu" class="flex md:flex flex-row gap-4 items-center justify-end transition hidden">
            <button
                id="close-menu-btn"
                class="inline-block md:hidden mr-4 rounded-xl bg-headerfooter-text-secondary text-headerfooter-bg p-0.5 font-semibold"
            >
                X
            </button>
            <a href="/my-work" class="inline-block transition duration-200 hover:text-headerfooter-text">My Work</a>
            <a href="/about-me" class="inline-block transition duration-200 hover:text-headerfooter-text">About Me</a>
            <a href="/contact" class="inline-block transition duration-200 hover:text-headerfooter-text">Contact</a>
        </div>
    </nav>
</header>
