---
import FavIcon from "../assets/svg/favIcon.svg";
---

<section class="relative flex min-h-screen w-full">
    <div
        class="bg-[url('/images/hero.webp')] bg-cover bg-center w-full absolute inset-0"
    >
    </div>

    <div class="relative flex flex-col items-center p-8 w-full text-skin mt-10">
        <FavIcon class="w-84 h-auto z-20" />
        <h2 class="text-5xl font-bold z-20">3D artist</h2>
        <div class="absolute bg-prussian-blue blur-2xl z-10 size-50"></div>
    </div>
</section>