---
interface Props {
    href: string;
    label: string;
    icon: any;
}

const { href, label, icon: Icon } = Astro.props;
---

<a
    class="hover:scale-110 hover:text-headerfooter-text transition flex flex-row items-center gap-x-2"
    href={href}
    target="_blank"
    rel="noopener noreferrer"
>
    {<Icon/>}
    {label}
</a>